<?xml version="1.0"?>
<robot name="nema_5_15_socket">
  <link name="nema_5_15_socket">
    <visual><geometry><mesh filename="../mesh/nema_5_15/asset_socket.obj"/></geometry></visual>
    <collision><geometry><mesh filename="../mesh/nema_5_15/asset_socket.obj"/></geometry></collision>
  </link>
</robot>
