name: Examples (CPU)

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  run-examples:
    runs-on: ubuntu-24.04
    name: ubuntu-24.04-3.12-examples

    env:
      HF_HUB_DOWNLOAD_TIMEOUT: 60
      FORCE_COLOR: 1
      PY_COLORS: 1
      GS_CACHE_FILE_PATH: ".cache/genesis"
      TI_OFFLINE_CACHE: "1"
      TI_OFFLINE_CACHE_CLEANING_POLICY: "never"
      TI_OFFLINE_CACHE_FILE_PATH: ".cache/taichi"
      TI_DEBUG: "0"
      OMNI_KIT_ACCEPT_EULA: "yes"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Mesa OpenGL driver for headless rendering
        run: |
          # fix broken microsoft package source on ubuntu-24.04
          sudo rm -f /etc/apt/sources.list.d/microsoft*.list
          sudo apt-get update
          sudo apt install -y \
              libglu1-mesa \
              libegl-mesa0 \
              libgl1-mesa-dev

      - name: Install Python deps
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install torch --index-url https://download.pytorch.org/whl/cpu
          pip install '.[dev,usd]'

      - name: Get quadrants version
        id: quadrants_version
        shell: bash
        run: |
          QUADRANTS_VERSION=$(python -c "import importlib.metadata ; print(importlib.metadata.version('quadrants'))")
          echo "QUADRANTS_VERSION=${QUADRANTS_VERSION}"
          echo "QUADRANTS_VERSION=${QUADRANTS_VERSION}" >> $GITHUB_OUTPUT

      - name: Restore cache
        uses: actions/cache/restore@v4
        with:
          path: .cache
          key: ubuntu-24.04-3.12-examples-${{ steps.quadrants_version.outputs.QUADRANTS_VERSION }}
          restore-keys: |
            ubuntu-24.04-3.12-examples-${{ steps.quadrants_version.outputs.QUADRANTS_VERSION }}-

      - name: Run examples suite
        run: |
          pytest -v -m examples tests/test_examples.py

      - name: Save cache
        if: always()
        uses: actions/cache/save@v4
        with:
          path: .cache
          key: ubuntu-24.04-3.12-examples-${{ steps.quadrants_version.outputs.QUADRANTS_VERSION }}-${{ github.run_id }}-${{ github.run_attempt }}
